/* Global styles */
.header {
  background-image: url("header_img.png");
  background-repeat: no-repeat;
  margin: 30px 0px;
  max-width: 100%;
  height: 70vh;
  position: relative;
  border-radius: 2%;
}

.header-content {
  color: white;
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  animation: fadein 3s;
}

.header-content h2 {
  font-size: 5rem;
}

.header-content p {
  font-size: 18px;
}

.header-content button {
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 50px;
  font-size: 18px;
  color: rgb(101, 100, 100);
}

/* Mobile styles (max-width: 480px) */
@media only screen and (max-width: 600px) {
  .header {
    height: 50vh;
  }
  .header-content {
    width: 80vw;
    bottom: 2rem;
    left: 2rem;
  }
  .header-content h2 {
    font-size: 3rem;
  }
  .header-content p {
    font-size: 14px;
  }
  .header-content button {
    padding: 8px 20px;
    font-size: 14px;
  }
}

/* Tablet styles (min-width: 481px and max-width: 768px) */
/* @media only screen and (min-width: 600px) and (max-width: 900px) {
  .header {
    height: 60vh;
  }
  .header-content {
    width: 60vw;
    bottom: 3rem;
    left: 3rem;
  }
  .header-content h2 {
    font-size: 4rem;
  }
  .header-content p {
    font-size: 16px;
  }
  .header-content button {
    padding: 10px 22px;
    font-size: 16px;
  }
} */

/* Desktop styles (min-width: 769px) */
@media only screen and (min-width: 769px) {
  .header {
    height: 70vh;
  }
  .header-content {
    width: 40vw;
    bottom: 5rem;
    left: 5rem;
  }
  .header-content h2 {
    font-size: 5rem;
  }
  .header-content p {
    font-size: 18px;
  }
  .header-content button {
    padding: 12px 25px;
    font-size: 18px;
  }
}
